@page

@{
    var localData = new AutoCompleteDataModel().GetData();
}

<div style="width: 250px; margin : 15% 35% 15% 35%">
    <ejs-autocomplete id="autocomplete_example" dataSource="@localData"
                      popupHeight="400px" popupWidth="250px"
                      placeholder="Select a vegetable"
                      filterType="Contains"
                      ignoreCase="false"
                      suggestionCount="2"
    >
        <e-autocomplete-fields value="Vegetable"
        groupBy="Category"></e-autocomplete-fields>
    </ejs-autocomplete>
</div>
